-- First remove the foreign key constraint from tasks table
ALTER TABLE tasks DROP COLUMN IF EXISTS category_id;

-- Drop all policies related to categories
DROP POLICY IF EXISTS \
Users
can
insert
their
own
categories
with
limit\ ON categories;
DROP POLICY IF EXISTS \Users
can
view
their
own
categories\ ON categories;
DROP POLICY IF EXISTS \Users
can
update
their
own
categories\ ON categories;
DROP POLICY IF EXISTS \Users
can
delete
their
own
categories\ ON categories;

-- Drop the categories table
DROP TABLE IF EXISTS categories;
