-- Create lists table
CREATE TABLE IF NOT EXISTS lists (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) NOT NULL,
    name TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    CONSTRAINT unique_list_name_per_user UNIQUE (user_id, name)
);

-- Enable RLS
ALTER TABLE lists ENABLE ROW LEVEL SECURITY;

-- Create policies for lists
CREATE POLICY \
Users
can
insert
their
own
lists\
ON lists
FOR INSERT
WITH CHECK (auth.uid() = user_id);

CREATE POLICY \Users
can
view
their
own
lists\
ON lists
FOR SELECT
USING (auth.uid() = user_id);

CREATE POLICY \Users
can
update
their
own
lists\
ON lists
FOR UPDATE
USING (auth.uid() = user_id);

CREATE POLICY \Users
can
delete
their
own
lists\
ON lists
FOR DELETE
USING (auth.uid() = user_id);

-- Add list_id to tasks table
ALTER TABLE tasks
ADD COLUMN IF NOT EXISTS list_id UUID REFERENCES lists(id);
