-- First drop all existing policies
DROP POLICY IF EXISTS "Users can manage their own tasks" ON tasks;

-- Delete all tasks that don't have a user_id
DELETE FROM tasks WHERE user_id IS NULL;

-- Add user_id column to tasks table if it doesn't exist
ALTER TABLE tasks 
ADD COLUMN IF NOT EXISTS user_id UUID REFERENCES auth.users(id);

-- Make user_id required for all tasks
ALTER TABLE tasks
ALTER COLUMN user_id SET NOT NULL;

-- Ensure email verification is required
ALTER TABLE auth.users
ALTER COLUMN email_confirmed_at DROP DEFAULT;

-- Enable Row Level Security
ALTER TABLE tasks ENABLE ROW LEVEL SECURITY;

-- Create policy for users to insert their own tasks
CREATE POLICY "Users can insert their own tasks"
ON tasks
FOR INSERT
WITH CHECK (auth.uid() = user_id);

-- Create policy for users to select their own tasks
CREATE POLICY "Users can view their own tasks"
ON tasks
FOR SELECT
USING (auth.uid() = user_id);

-- Create policy for users to update their own tasks
CREATE POLICY "Users can update their own tasks"
ON tasks
FOR UPDATE
USING (auth.uid() = user_id);

-- Create policy for users to delete their own tasks
CREATE POLICY "Users can delete their own tasks"
ON tasks
FOR DELETE
USING (auth.uid() = user_id);
