-- Create categories table
CREATE TABLE IF NOT EXISTS categories (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) NOT NULL,
    name TEXT NOT NULL,
    color TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    CONSTRAINT unique_category_name_per_user UNIQUE (user_id, name)
);

-- Enable RLS
ALTER TABLE categories ENABLE ROW LEVEL SECURITY;

-- Create policy for inserting categories (with limit check)
CREATE POLICY "Users can insert their own categories with limit"
ON categories
FOR INSERT
WITH CHECK (
    auth.uid() = user_id AND
    (SELECT COUNT(*) FROM categories WHERE user_id = auth.uid()) < 5
);

-- Create policy for viewing own categories
CREATE POLICY "Users can view their own categories"
ON categories
FOR SELECT
USING (auth.uid() = user_id);

-- Create policy for updating own categories
CREATE POLICY "Users can update their own categories"
ON categories
FOR UPDATE
USING (auth.uid() = user_id);

-- Create policy for deleting own categories
CREATE POLICY "Users can delete their own categories"
ON categories
FOR DELETE
USING (auth.uid() = user_id);

-- Add category_id to tasks table
ALTER TABLE tasks
ADD COLUMN IF NOT EXISTS category_id UUID REFERENCES categories(id);

